body {
  height: 500vw;
  font-family: "Apple SD Gothic Neo", "Roboto", "Noto Sans KR", NanumGothic, "Malgun Gothic", sans-serif;
  -webkit-overflow-scrolling: touch;
  color: #555;
  background: #fff000;
}
.world {
  perspective: 1000px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.stage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
}

.house {
  transform-style: preserve-3d;
  width: 100vw;
  height: 100vh;
  transform: translateZ(-490vw);
}

.wall {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
}

.wall-left {
  width: 1000vw;
  transform: rotateY(90deg) translateZ(-500vw);
  background: #f8f8f8;
}
.wall-right {
  width: 1000vw;
  transform: rotateY(90deg) translateZ(-400vw);
  background: #f8f8f8;
}
.wall-front-a {
  transform: translateZ(300vw);
}
.wall-front-b {
  transform: translateZ(50vw);
}
.wall-front-c {
  transform: translateZ(-200vw);
}
.wall-front-d {
  transform: translateZ(-500vw);
}
.wall-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wall-title {
  font-size: 5rem;
}

.progress-bar-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5px;
  background: #555;
  z-index: 100;
}
.progress-bar {
  width: 0%;
  height: 100%;
  background: #00a8ff;
}
